force-app/main/default/flows/AssignRakurakumeisaiCustomerCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignContractId</name>
        <label>契約レコードIDを割当て</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getRakurakumeisai.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRakurakumeisai</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionRakurakumeisai</name>
        <label>楽楽明細顧客コード割当処理判定</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>assignRakurakumeisaiCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRakurakumeisai.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.RakurakuMeisaiItemCustomerCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createRakurakumeisai</targetReference>
            </connector>
            <label>顧客コード新規割当</label>
        </rules>
        <rules>
            <name>linkContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRakurakumeisai.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractId</targetReference>
            </connector>
            <label>再受注（契約再紐付け）</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【楽楽明細】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】after楽楽明細顧客コード割当</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createRakurakumeisai</name>
        <label>楽楽明細レコードを作成</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>getCreatedRakurakumeisaiRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RakurakuMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCreatedRakurakumeisaiRecord</name>
        <label>作成済み楽楽明細レコード取得</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractUpdateRakuraku</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RakurakuMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRakurakumeisai</name>
        <label>楽楽明細レコードを取得</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionRakurakumeisai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RakurakuMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ContractUpdateRakuraku</name>
        <label>契約に楽楽IDを反映</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>RakurakuMeisaiItemCustomerCode__c</field>
            <value>
                <elementReference>getCreatedRakurakumeisaiRecord.Rakurakumeisai_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRakurakumeisai</name>
        <label>契約を楽楽明細レコードに紐付け</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>X2_ID</targetReference>
        </connector>
        <inputReference>getRakurakumeisai</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2_ID</name>
        <label>契約に楽楽IDを反映</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>RakurakuMeisaiItemCustomerCode__c</field>
            <value>
                <elementReference>getRakurakumeisai.Rakurakumeisai_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRakurakumeisai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>受注</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
