force-app/main/default/flows/CloudSignCoop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>isApproval</name>
        <label>承認申請結果を確認</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <actionName>ProcessInstanceController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckApprovalRequestUser</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProcessInstanceController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendPdfToCloudSign</name>
        <label>クラウドサインにPDFを送信</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>CloudSignController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetOpportunityDocumentId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CludSignSendError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>approverEmail</name>
            <value>
                <elementReference>GetOpportunity.ApproverEmail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approverName</name>
            <value>
                <elementReference>GetOpportunity.ApproverName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>GetClientId.ClientId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>managerEmail</name>
            <value>
                <elementReference>getManager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>managerName</name>
            <value>
                <elementReference>getManager.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pdfId</name>
            <value>
                <elementReference>getContentVersion.ContentDocument.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloudSignController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CheckApplicationPdf</name>
        <label>申込書PDF確認</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ErrorApplicationPdf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsApplicationPdf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContentVersion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>申込書PDF</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckApprovalRequestUser</name>
        <label>承認申請者確認</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ErrorApprovalRequestUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsRequestUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContentVersion</targetReference>
            </connector>
            <label>承認申請者がフロー実行者</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckClientId</name>
        <label>クライアントIDチェック</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ErrorClientId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>GetClientIdSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClientId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getManager</targetReference>
            </connector>
            <label>クライアントID取得成功</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>クラウドサイン連携 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>クラウドサイン連携</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetClientId</name>
        <label>クライアントID取得</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckClientId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClientId__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContentVersion</name>
        <label>コンテンツバージョン取得</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckApplicationPdf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>申込書</stringValue>
            </value>
        </filters>
        <filters>
            <field>FileType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </filters>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getManager</name>
        <label>マネージャ取得</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendPdfToCloudSign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>商談取得</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendPdfCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetOpportunityDocumentId</name>
        <label>商談にDocumentIdを設定</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloudSignDocumentId__c</field>
            <value>
                <elementReference>SendPdfToCloudSign</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>CludSignSendError</name>
        <label>クラウドサイン送信失敗エラー</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CloudSignSendErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;クラウドサインへの送信に失敗しました&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;状況を確認してください&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorApplicationPdf</name>
        <label>クラウドサイン連携エラー</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorApplicationPdfText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;PDFが添付されていません&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorApprovalRequestUser</name>
        <label>クラウドサイン連携エラー</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorApprovalRequestUserText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;申請したユーザしかアクセスできません&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorClientId</name>
        <label>クライアントIDエラー</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorClientIdText</name>
            <fieldText>&lt;p&gt;クライアントIDが登録されていません&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendPdfCheck</name>
        <label>送信チェック</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>キャンセル</backButtonLabel>
        <connector>
            <targetReference>GetClientId</targetReference>
        </connector>
        <fields>
            <name>SendPdfCheckText</name>
            <fieldText>&lt;p&gt;こちらのファイルを送信してもよろしいですか？&lt;/p&gt;&lt;p&gt;{!getContentVersion.Title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>送信</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isApproval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>ProcessInstance2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>ProcessInstances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
