force-app/main/default/flows/ContractManagementAutoCreateRecordTypeNewOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddContractManagement</name>
        <label>契約管理追加</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>InsertContractManagementCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractManagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUpdateRecordTypeOpportunityLineItem</name>
        <label>更新商談商品追加</label>
        <locationX>138</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItemLoop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContractActivate</name>
        <label>契約を有効化</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContractRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractRecord3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetDeleteBilingContactRecordNumber</name>
        <label>削除対象請求先担当者レコード数取得</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeleteBilingContactCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDeleteBilingContactRecordNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetDeleteContractManagementRecordNumber</name>
        <label>削除対象契約管理レコード数取得</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetDeleteContractManagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDeleteContractManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetDeleteContractRecordNumber</name>
        <label>削除対象契約レコード数取得</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetDeleteContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDeleteContractRecordNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBliingContact</name>
        <label>請求先担当者作成</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>BliingContact.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BliingContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.MailAddless__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.AccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.PostCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BliingContactAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.MailingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.MailingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BliingContact.MailingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBliingContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractManagement</name>
        <label>契約管理作成</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>ContractManagement.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.OpportunityLineItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.SellingPriceDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.DiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.DiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.CustomContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.ContractStartMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.ContractRetentionMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContractManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecord</name>
        <label>契約レコード作成</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContractRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.PaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NegotiationPaymentSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.PrimarilyBliingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BliingContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.OriginalOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.UsageStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.CancellationNotificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationNotificationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.CancellationExpectedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationExpectedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.IrregularPaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularDetailPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingPaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CollectionMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.ExemptionTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ExemptionTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.ExceptionBillPosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ExceptionBillPosting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.SpecialTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularMatterMemo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContractRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecord3</name>
        <label>契約レコード更新</label>
        <locationX>72</locationX>
        <locationY>3167</locationY>
        <assignmentItems>
            <assignToReference>GetContractRecord.CancellationNotificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationNotificationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContractRecord.ChurnReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationCauseKubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContractRecord.CancellationExpectedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationExpectedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContractRecord.Churn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractRecord2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractToBillingContact</name>
        <label>請求先担当者に契約を紐付け</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>BliingContact.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateBilingContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeleteBilingContactCollection</name>
        <label>削除対象請求先担当者割り当て</label>
        <locationX>534</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>DeleteBilingContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDeleteBilingContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteContractLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRecordTypeOpportunity</name>
        <label>更新商談作成</label>
        <locationX>50</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.OpportunityRepPerson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityRepPerson__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RepresentProductsFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RepresentProductsFamily__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSourceDetail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialKahi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialKahi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialGrantDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialGrantDateAndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialEndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateSourceOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00_更新商談</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IntroductionOtherCompanyService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IntroductionOtherCompanyService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.SlackURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SlackURL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UserEmailAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserEmailAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CollectionMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CollectionMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InvoiceInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.BillingCollectionSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCollectionSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NegotiationPaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IrregularDetailPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularDetailPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.DocumentConfirmationUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocumentConfirmationUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.AutoUpdatable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AutoUpdatable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NextUpdateTimeException__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NextUpdateTimeException__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.PaymentSiteException__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentSiteException__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationExpectedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationExpectedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationNotificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationNotificationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationSupportedStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationSupportedStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationPhase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationPhase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationCauseKubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationCauseKubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateContactAddressEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateContactAddressEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdaterName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdaterName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122w000002Mx4CAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ExemptionTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.ExemptionTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ExceptionBillPosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.ExceptionBillPosting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.SpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SpecialInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NoticeEditExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NoticeEditExists__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.GeneratedSpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GeneratedSpecialInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NegotiationPaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ManualCreatingFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ManualCreatingFlag__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateUpdateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRecordTypeOpportunityLineItem</name>
        <label>更新商談商品作成</label>
        <locationX>138</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.ProductsNameModifying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunityLineItemServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.PeriodMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.PeriodMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateRecordTypeOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CancellationPhaseCancel</name>
        <label>解約フェーズ：解約</label>
        <locationX>204</locationX>
        <locationY>3059</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancellationPhase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>解約</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContractRecord3</targetReference>
            </connector>
            <label>解約</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContractRecord</name>
        <label>契約レコード確認</label>
        <locationX>402</locationX>
        <locationY>2951</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancellationPhaseCancel</targetReference>
            </connector>
            <label>契約レコードあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDeleteBilingContactRecordNumber</name>
        <label>削除対象契約管理有無チェック</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>GetDeleteContractRecordNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasRecord2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteBilingContact</targetReference>
            </connector>
            <label>レコードあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDeleteContractManagement</name>
        <label>削除対象契約管理有無チェック</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>GetDeleteContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContractManagement</targetReference>
            </connector>
            <label>レコードあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDeleteContractRecordNumber</name>
        <label>削除対象契約管理有無チェック</label>
        <locationX>446</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>GetContractRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasRecord3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContract</targetReference>
            </connector>
            <label>レコードあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStageName</name>
        <label>商談フェーズ確認</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>GetContractRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>StageAccept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBliingContact</targetReference>
            </connector>
            <label>受注以外-&gt;受注</label>
        </rules>
        <rules>
            <name>StageChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDeleteContractManagement</targetReference>
            </connector>
            <label>受注 -&gt; 受注以外</label>
        </rules>
    </decisions>
    <description>更新商談作成の要素の項目割り当てを修正（IID-9354）</description>
    <environments>Default</environments>
    <formulas>
        <name>BliingContactAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.MailingState} + {!$Record.BillingRepPerson__r.MailingCity} + {!$Record.BillingRepPerson__r.MailingStreet}</expression>
    </formulas>
    <formulas>
        <name>BliingContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.LastName} +&quot; &quot;+ {!$Record.BillingRepPerson__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>CancellFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF (TEXT({!$Record.StageName}) == &apos;受注&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>UpdateOpportunityName</name>
        <dataType>String</dataType>
        <expression>&apos;【更新】&apos;+{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>UpdateRecordTypeOpportunityLineItemServiceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!OpportunityLineItemLoop2.ServiceDate},12)</expression>
    </formulas>
    <formulas>
        <name>UpdateSourceOpportunity</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.UpdateSourceOpportunity__c}), {!$Record.Id}, {!$Record.UpdateSourceOpportunity__r.Id})</expression>
    </formulas>
    <interviewLabel>契約管理自動生成_新規 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>契約管理自動生成_新規</label>
    <loops>
        <name>DeleteContractLoop</name>
        <label>契約ループ</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <collectionReference>GetDeleteContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetDeleteBilingContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetDeleteBilingContactRecordNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OpportunityLineItemLoop</name>
        <label>商談商品ループ</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContractManagement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertContractManagements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OpportunityLineItemLoop2</name>
        <label>商談商品ループ</label>
        <locationX>50</locationX>
        <locationY>2243</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetUpdateRecordTypeOpportunityLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertUpdateRecordTypeOpportunityLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBliingContact</name>
        <label>請求先担当者作成</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>SetContractRecord</targetReference>
        </connector>
        <inputReference>BliingContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContractRecord</name>
        <label>契約レコード作成</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>ContractActivate</targetReference>
        </connector>
        <inputReference>ContractRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateUpdateOpportunity</name>
        <label>更新商談作成</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>OpportunityLineItemLoop2</targetReference>
        </connector>
        <inputReference>UpdateRecordTypeOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertContractManagements</name>
        <label>契約管理作成</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>SetContractToBillingContact</targetReference>
        </connector>
        <inputReference>InsertContractManagementCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertUpdateRecordTypeOpportunityLineItem</name>
        <label>更新商談商品作成</label>
        <locationX>50</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>GetContractRecord</targetReference>
        </connector>
        <inputReference>UpdateRecordTypeOpportunityLineItemCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteBilingContact</name>
        <label>請求先担当者削除</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>GetDeleteContractRecordNumber</targetReference>
        </connector>
        <inputReference>DeleteBilingContactCollection</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteContract</name>
        <label>契約レコード削除</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>GetContractRecord</targetReference>
        </connector>
        <inputReference>GetDeleteContract</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteContractManagement</name>
        <label>契約管理レコード削除</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>GetDeleteContract</targetReference>
        </connector>
        <inputReference>GetDeleteContractManagement</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContractRecord</name>
        <label>契約レコード取得</label>
        <locationX>402</locationX>
        <locationY>2843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckContractRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeleteBilingContact</name>
        <label>削除対象請求先担当者取得</label>
        <locationX>534</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetDeleteBilingContactCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeleteContractLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BillingContact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeleteContract</name>
        <label>削除対象契約レコード取得</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteContractLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeleteContractManagement</name>
        <label>削除対象契約管理レコード取得</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeleteContractManagementRecordNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityLineItems</name>
        <label>商談商品取得</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBilingContact</name>
        <label>請求先担当者を更新</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <inputReference>BliingContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractRecord2</name>
        <label>契約レコード更新</label>
        <locationX>72</locationX>
        <locationY>3275</locationY>
        <inputReference>GetContractRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractRecord3</name>
        <label>契約を有効化</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>GetOpportunityLineItems</targetReference>
        </connector>
        <inputReference>ContractRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>商談更新</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>SetUpdateRecordTypeOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckStageName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Mx4AAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BliingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingContact__c</objectType>
    </variables>
    <variables>
        <name>ContractManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractManagement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>DeleteBilingContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingContact__c</objectType>
    </variables>
    <variables>
        <name>InsertContractManagementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractManagement__c</objectType>
    </variables>
    <variables>
        <name>RecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunityLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
