force-app/main/default/flows/ContractManagementAutoCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>CreateContractRecord</name>
        <label>契約レコード作成</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ContractRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.PaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NegotiationPaymentSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.IrregularPaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularDetailPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.OriginalOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckStageName</name>
        <label>商談フェーズ確認</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>StageAccept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContractRecord</targetReference>
            </connector>
            <label>受注</label>
        </rules>
    </decisions>
    <description>「契約＞請求・支払い手段」を削除</description>
    <environments>Default</environments>
    <interviewLabel>契約完了自動生成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>契約完了自動生成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckStageName</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
