force-app/main/default/flows/ContractManagementAutoCreateRecordTypePlanUpPlanDownOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddContractManagement</name>
        <label>契約管理追加</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>InsertContractManagementCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractManagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetDeleteContractManagementRecordNumber</name>
        <label>削除対象契約管理レコード数取得</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetDeleteContractManagements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDeleteContractManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractManagement</name>
        <label>契約管理作成</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ContractManagement.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.OpportunityLineItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.SellingPriceDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.DiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.DiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.CustomContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.ContractStartMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractManagement.ContractRetentionMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContractManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecord</name>
        <label>契約レコード更新</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContractLoop.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateMonths__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOpportunityContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecord2</name>
        <label>契約レコード更新</label>
        <locationX>382</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>ContractLoop3.PaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NegotiationPaymentSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop3.IrregularPaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularDetailPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop3.UsageStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop3.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop3.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop3.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContractLoop3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecord3</name>
        <label>契約レコード更新</label>
        <locationX>382</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>ContractLoop4.CancellationNotificationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop4.ChurnReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationCauseKubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop4.CancellationExpectedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationExpectedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop4.Churn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContractLoop4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContractRecord4</name>
        <label>契約レコード更新</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContractLoop2.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop2.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateMonths__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContractLoop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRecordTypeOpportunity</name>
        <label>更新商談作成</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NegotiationRepPerson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityRepPerson__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RepresentProductsFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RepresentProductsFamily__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSourceDetail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialKahi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialKahi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialGrantDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialGrantDateAndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialEndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateSourceOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00_更新商談</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IntroductionOtherCompanyService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IntroductionOtherCompanyService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.SlackURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SlackURL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UserEmailAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserEmailAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.BillingRepPerson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingRepPerson__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CollectionMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CollectionMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ApplicationDocument__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ApplicationDocument__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InvoiceInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.BillingCollectionSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCollectionSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NegotiationPaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NegotiationPaymentSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IrregularDetailPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularDetailPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.DocumentConfirmationUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocumentConfirmationUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.AutoUpdatable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AutoUpdatable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NoticeEditExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NoticeEditExists__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.SpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SpecialInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IrregularMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularMatter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IrregularMatterMemo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularMatterMemo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NextUpdateTimeException__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NextUpdateTimeException__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.PaymentSiteException__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentSiteException__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationExpectedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationExpectedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationNotificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationNotificationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationSupportedStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationSupportedStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationPhase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationPhase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationCauseKubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationCauseKubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateContactAddressEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateContactAddressEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdaterName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdaterName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122w000002Mx4CAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RepresentProductsFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RepresentProductsFamily__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateUpdateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CancellationPhaseCancel</name>
        <label>解約フェーズ：解約</label>
        <locationX>402</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>UpdateContractRecord2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancellationPhase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>解約</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractLoop4</targetReference>
            </connector>
            <label>解約</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDeleteContractManagement</name>
        <label>削除対象契約管理有無チェック</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>UpdateContractSection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContractManagement</targetReference>
            </connector>
            <label>レコードあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStageName</name>
        <label>商談フェーズ確認</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>UpdateContractSection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>StageAccept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractLoop</targetReference>
            </connector>
            <label>受注以外-&gt;受注</label>
        </rules>
        <rules>
            <name>StageChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractLoop2</targetReference>
            </connector>
            <label>受注 -&gt; 受注以外</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateContractSection</name>
        <label>契約セクション更新</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>CancellationPhaseCancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsContractSectionUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CollectionMethod__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostingStartDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostingEndDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationDocument__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InvoiceInformation__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NegotiationPaymentSite__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCollectionSite__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IrregularDetailPayment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractLoop3</targetReference>
            </connector>
            <label>更新あり</label>
        </rules>
    </decisions>
    <description>「請求・支払い条件」を削除</description>
    <environments>Default</environments>
    <formulas>
        <name>BliingContactAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.Account.BillingState} + {!$Record.BillingRepPerson__r.Account.BillingCity} + {!$Record.BillingRepPerson__r.Account.BillingStreet}</expression>
    </formulas>
    <formulas>
        <name>BliingContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.LastName} + {!$Record.BillingRepPerson__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>CancellFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF (TEXT({!$Record.StageName}) == &apos;受注&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>UpdateOpportunityName</name>
        <dataType>String</dataType>
        <expression>&apos;【更新】&apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>契約管理自動作成_プランアッププランダウン {!$Flow.CurrentDateTime}</interviewLabel>
    <label>契約管理自動作成_プランアッププランダウン</label>
    <loops>
        <name>ContractLoop</name>
        <label>契約ループ</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>GetContractRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContractRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOpportunityLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ContractLoop2</name>
        <label>契約ループ</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <collectionReference>GetContractRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContractRecord4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetDeleteContractManagements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ContractLoop3</name>
        <label>契約ループ</label>
        <locationX>294</locationX>
        <locationY>1979</locationY>
        <collectionReference>GetContractRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContractRecord2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CancellationPhaseCancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ContractLoop4</name>
        <label>契約ループ</label>
        <locationX>294</locationX>
        <locationY>2471</locationY>
        <collectionReference>GetContractRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContractRecord3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContractRecord2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OpportunityLineItemLoop</name>
        <label>商談商品ループ</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetContractManagement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertContractManagements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateUpdateOpportunity</name>
        <label>更新商談作成</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>UpdateContractSection</targetReference>
        </connector>
        <inputReference>UpdateRecordTypeOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertContractManagements</name>
        <label>契約管理作成</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>SetUpdateRecordTypeOpportunity</targetReference>
        </connector>
        <inputReference>InsertContractManagementCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteContractManagement</name>
        <label>契約管理レコード削除</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>UpdateContractSection</targetReference>
        </connector>
        <inputReference>GetDeleteContractManagements</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContractRecord</name>
        <label>契約レコード取得</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStageName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UpdateSourceOpportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeleteContractManagements</name>
        <label>契約管理レコード取得</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeleteContractManagementRecordNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityLineItems</name>
        <label>商談商品取得</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetOpportunityContract</name>
        <label>商談に契約紐付け</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>ContractLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>ContractLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractRecord2</name>
        <label>契約レコード更新</label>
        <locationX>402</locationX>
        <locationY>2855</locationY>
        <inputReference>GetContractRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContractRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Mx4BAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BliingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BliingContact__c</objectType>
    </variables>
    <variables>
        <name>ContractManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractManagement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>InsertContractManagementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractManagement__c</objectType>
    </variables>
    <variables>
        <name>RecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
