force-app/main/default/flows/CreateInvoiceSub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddRevenueAmount</name>
        <label>売上レコードの金額積み上げ</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExcludingTaxAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesRecordLoop.TotalAmountTaxExcluded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesTaxAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesRecordLoop.Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>date1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalesRecordLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUpdateRevenueCollection</name>
        <label>更新売上リスト追加</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>UpdateRevenueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RevenueLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RevenueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetUpdateRevenueRecordNumber</name>
        <label>更新対象売上レコード数取得</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdateRevenueCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateRevenueRecordNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceInformationRecord</name>
        <label>請求書情報作成</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>InvoiceInformation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.BillingPaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.BillingPaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.PaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.VirtualAccountBankBranchOfficeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.VirtualAccountBankBranchOfficeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.VirtualAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.VirtualAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.TaxExcludedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExcludingTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.PaymentDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.SalesTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.BillingRepName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.PrimarilyBliingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.BillingMailAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.PrimarilyBliingContact__r.MailAddless__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractTaxRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.IncludeTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractIncludeTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.TaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.SalesTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.SubscriberName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.SubscriberName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceInformation.SubscriberCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Contract.SubscriberCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateInvoiceInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceInformationToOpportunity</name>
        <label>商談に請求書情報を紐付け</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceInformation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.BillInfoCreationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRevenue</name>
        <label>売上更新</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>RevenueLoop.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceInformation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateRevenueCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckUpdateRevenueRecordNumber</name>
        <label>更新対象売上レコード数チェック</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Upper1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRevenue</targetReference>
            </connector>
            <label>1件以上</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContractIncludeTaxAmount</name>
        <dataType>Currency</dataType>
        <expression>{!ExcludingTaxAmount} + {!ContractTaxAmount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ContractTaxAmount</name>
        <dataType>Currency</dataType>
        <expression>TRUNC({!ExcludingTaxAmount} * {!ContractTaxRate}/100,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ContractTaxRate</name>
        <dataType>Number</dataType>
        <expression>{!GetOpportunity.Contract.TaxRate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentDueDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!PaymentDueDateSub}),
MONTH({!PaymentDueDateSub}),
1)-1</expression>
    </formulas>
    <formulas>
        <name>PaymentDueDateSub</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!SalesRecordLoop.SalesMonth__c},CASE({!GetOpportunity.Contract.PaymentTerms__c},
&quot;当月末払い&quot;, 1, 
&quot;翌月末払い&quot;,2,
&quot;翌々月末払い&quot;,3,
&quot;翌々々月末払い&quot;,4,
null))</expression>
    </formulas>
    <interviewLabel>請求書情報作成サブ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求書情報作成サブ</label>
    <loops>
        <name>RevenueLoop</name>
        <label>売上ループ</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>AllSalesRecordAcquisition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetRevenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetUpdateRevenueRecordNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SalesRecordLoop</name>
        <label>売上レコードループ</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>AllSalesRecordAcquisition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddRevenueAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetInvoiceInformationRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateInvoiceInformation</name>
        <label>請求書情報作成</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>SetInvoiceInformationToOpportunity</targetReference>
        </connector>
        <inputReference>InvoiceInformation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AllSalesRecordAcquisition</name>
        <label>全売上レコード取得</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SalesRecordLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <sortField>SalesMonth__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>商談取得</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllSalesRecordAcquisition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpportunity</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>RevenueLoop</targetReference>
        </connector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRevenue</name>
        <label>売上更新</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <inputReference>UpdateRevenueCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>date1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExcludingTaxAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>InvoiceInformationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>InvoiceInformations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SalesTaxAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateOpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateRevenueCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
</Flow>
