force-app/main/default/flows/CreateContractChangeOpportunityLineItemInMonth.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddAppropriationOpportunityLineItem</name>
        <label>作成対象商談商品リストに追加</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateOpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDiscountOpportunityLineItem</name>
        <label>作成対象商談商品リストに追加</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateOpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAppropriationOpportunityLineItem</name>
        <label>充当商談商品作成</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContractManagement.Item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContractManagement.Opportunity__r.PostingStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.PeriodMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContractManagement.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAppropriationOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDiscountOpportunityLineItem</name>
        <label>値引き商談商品作成</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Opportunity.Contract.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.PeriodMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddDiscountOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>PeriodMonths</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UnitPrice</name>
        <dataType>Number</dataType>
        <expression>-1 * {!GetContractManagement.UnitPrice__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>月中契約変更商談商品作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>月中契約変更商談商品作成</label>
    <loops>
        <name>OpportunityLineItemLoop</name>
        <label>商談商品ループ</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetDiscountOpportunityLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetAppropriationOpportunityLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertOpportunityLineItem</name>
        <label>商談商品作成</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <inputReference>CreateOpportunityLineItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContractManagement</name>
        <label>契約管理取得</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.UpdateSourceOpportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ValidFlagCustom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>商談取得</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunityLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityLineItems</name>
        <label>商談商品取得</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContractManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateOpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CreateOpportunityLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
