force-app/main/default/flows/CreateRevenueRecordTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>IsDeleteRecords</name>
        <label>削除レコードチェック</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CreateRevenueExec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVariableSubFlow.DeleteRevenueCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVariableSubFlow.DeleteRevenueNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRevenueExec</targetReference>
            </connector>
            <label>削除対象あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>売上レコード作成_レコードトリガフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>売上レコード作成_レコードトリガフロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRevenueExec</name>
        <label>売上レコード作成</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>SetCreateRevenueFlag</targetReference>
        </connector>
        <inputReference>GetVariableSubFlow.RevenueCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRevenueExec</name>
        <label>売上削除</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CreateRevenueExec</targetReference>
        </connector>
        <inputReference>GetVariableSubFlow.DeleteRevenueCollection</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>SetCreateRevenueFlag</name>
        <label>売上作成フラグを落とす</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>createRevenueFlag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVariableSubFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>createRevenueFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetVariableSubFlow</name>
        <label>売上作成_変数生成サブフロー</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>IsDeleteRecords</targetReference>
        </connector>
        <flowName>CreateRevenueGetVariable</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>1400</triggerOrder>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
