force-app/main/default/flows/CreateInvoiceInformation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddUpdateRevenueCollection</name>
        <label>更新対象売上リストに追加</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UpdateRevenueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RevenueLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RevenueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BillInfoCreationDate</name>
        <label>商談レコードの項目を更新</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillInfoCreationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunityRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceInformation</name>
        <label>請求書情報作成</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.TaxExcludedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevenueLoop.TotalAmountTaxExcluded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.BillingPaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.BillingPaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.PaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.PaymentDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.VirtualAccountBankBranchOfficeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.VirtualAccountBankBranchOfficeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateInvoiceInformation.VirtualAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.VirtualAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertInvoiceInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceInformationToRevenu</name>
        <label>売上レコードに請求書情報を紐付け</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>RevenueLoop.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateInvoiceInformation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateRevenueCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRevenueRecordNumber</name>
        <label>更新対象売上レコード数を取得</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdateRevenueCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateRevenueCollectionNumber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckUpdateRevenueCollectionNumber</name>
        <label>更新対象売上レコード数チェック</label>
        <locationX>182</locationX>
        <locationY>1392</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasUpdateRevenueRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRevenueRecord</targetReference>
            </connector>
            <label>更新対象あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>InvoiceInformationCheck</name>
        <label>請求書情報チェック</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>RevenueLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NotInvoiceInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RevenueLoop.InvoiceInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetInvoiceInformationToRevenu</targetReference>
            </connector>
            <label>請求書情報なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityConditionCheck</name>
        <label>商談条件チェック</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ConditionMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract.PrimarilyBliingContact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.VirtualAccountNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract.VirtualAccountBankBranchOfficeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetInvoiceInformation</targetReference>
            </connector>
            <label>条件に一致</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PaymentDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE({!$Record.Contract.PaymentTerms__c},&quot;当月末払い&quot;, DATE(YEAR(ADDMONTHS(TODAY(),1)),MONTH(ADDMONTHS(TODAY(),1)),1)-1, &quot;	翌月末払い&quot;,DATE(YEAR(ADDMONTHS(TODAY(),2)),MONTH(ADDMONTHS(TODAY(),2)),1)-1,&quot;翌々月末払い&quot;,DATE(YEAR(ADDMONTHS(TODAY(),3)),MONTH(ADDMONTHS(TODAY(),3)),1)-1,&quot;翌々々月末払い&quot;,DATE(YEAR(ADDMONTHS(TODAY(),4)),MONTH(ADDMONTHS(TODAY(),4)),1)-1,null)</expression>
    </formulas>
    <interviewLabel>請求書情報レコード自動作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求書情報レコード自動作成</label>
    <loops>
        <name>RevenueLoop</name>
        <label>売上ループ</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <collectionReference>GetRevenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InvoiceInformationCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetUpdateRevenueRecordNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertInvoiceInformation</name>
        <label>請求書情報作成</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>GetRevenue</targetReference>
        </connector>
        <inputReference>CreateInvoiceInformation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRevenue</name>
        <label>売上取得</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RevenueLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunityRecord</name>
        <label>商談レコードを更新</label>
        <locationX>50</locationX>
        <locationY>1716</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRevenueRecord</name>
        <label>売上レコードを更新</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Set_BillInfoCreationDate</targetReference>
        </connector>
        <inputReference>UpdateRevenueCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OpportunityConditionCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManualCreatingFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillInfoCreationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>受注</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-21</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateInvoiceInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>CreateInvoiceInformationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>InvoiceInformationNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateRevenueCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
</Flow>
