force-app/main/default/flows/CreateSpecialNote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SetSpecialNote</name>
        <label>特記事項文を割り当てる</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.SpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDescription.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GeneratedSpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDescription.Description__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>specialNoteName</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT({!$Record.ProductType__c}), 
&quot;BLLライト&quot;, &quot;BLL_Light&quot; + IF( {!$Record.AutoUpdatable__c} , &quot;_Auto&quot; , &quot;&quot; ),
&quot;BLLスタンダード&quot;, &quot;BLL_Standard&quot; + IF( {!$Record.AutoUpdatable__c} , &quot;_Auto&quot; , &quot;&quot; ),
&quot;BLLエンタープライズ&quot;, &quot;BLL_Enterprise&quot;,
&quot;BLC&quot;, &quot;BLC&quot;,
null
)</expression>
    </formulas>
    <interviewLabel>特記事項自動設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>特記事項自動設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>特記事項文のカスタムメタデータから条件に合致したレコードを取得</description>
        <name>getDescription</name>
        <label>メタデータレコードを取得</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSpecialNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>specialNoteName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NoticeStatement__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDescription</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AutoUpdatable__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
