force-app/main/default/flows/CreateRevenueGetVariable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddCreateMarginRevenue</name>
        <label>売上作成リスト追加</label>
        <locationX>836</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RevenueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MarginRevenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMarginFinalAccountProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCreateMarginRevenue2</name>
        <label>売上作成リスト追加</label>
        <locationX>440</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>RevenueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MarginRevenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CheckMarginFinalAccountProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCreateRevenue</name>
        <label>売上作成リスト追加</label>
        <locationX>1056</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>RevenueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckMargin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateMarginRevenue1</name>
        <label>マージン売上作成</label>
        <locationX>440</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>MarginRevenue.SalesMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarginRevenueSellingPriceDistount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.ProductsNameModifyingDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.ProductFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.AccountTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.AccountTitle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.FinalAccountProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.FinalAccountProcess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCreateMarginRevenue2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateMarginRevenue2</name>
        <label>マージン売上作成</label>
        <locationX>836</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>MarginRevenue.SalesMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarginRevenueUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.ProductsNameModifyingDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.ProductFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.AccountTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.AccountTitle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRevenue.FinalAccountProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.FinalAccountProcess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCreateMarginRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateRevenue</name>
        <label>売上作成</label>
        <locationX>1056</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Revenue.SalesMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.SellingPriceDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.ProductFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.AccountTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.AccountTitle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.ProductsNameModifyingDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue.FinalAccountProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.Product2.FinalAccountProcess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckFinalAccountProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopCountInit</name>
        <label>ループカウント初期化</label>
        <locationX>660</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetServiceDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeleteRevenueCollection</name>
        <label>削除売上割り当て</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DeleteRevenueCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDeleteRevenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordNumber</name>
        <label>レコード数セット</label>
        <locationX>176</locationX>
        <locationY>2864</locationY>
        <assignmentItems>
            <assignToReference>DeleteRevenueNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeleteRevenueCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevenueNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RevenueCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetServiceDate</name>
        <label>提供日初期化</label>
        <locationX>660</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRevenueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateFinalAccountProcess</name>
        <label>決算処理更新</label>
        <locationX>924</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Revenue.FinalAccountProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCreateRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLoopCount</name>
        <label>ループ回数更新</label>
        <locationX>1056</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateRevenueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMarginFinalAccountProcess</name>
        <label>決算処理更新</label>
        <locationX>704</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>MarginRevenue.FinalAccountProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateServiceDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateServiceDate</name>
        <label>売上月更新</label>
        <locationX>1056</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMonthServiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLoopCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckFinalAccountProcess</name>
        <label>決算処理判定</label>
        <locationX>1056</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>AddCreateRevenue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsFinalAccountProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItemLoop.Product2.FinalAccountProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFinalAccountProcess</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMargin</name>
        <label>マージン判定</label>
        <locationX>1056</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>UpdateServiceDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hssMargin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItemLoop.Opportunity.AllianceProductsMarginRate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityLineItemLoop.Opportunity.AllianceProductsMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckProduct2Family</targetReference>
            </connector>
            <label>マージンあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMarginFinalAccountProcess</name>
        <label>決算処理判定</label>
        <locationX>836</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>UpdateServiceDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsMarginFinalAccountProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItemLoop.Product2.FinalAccountProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMarginFinalAccountProcess</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProduct2Family</name>
        <label>商品ファミリ判定</label>
        <locationX>792</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>UpdateServiceDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>LAWGUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItemLoop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAWGUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMarginRevenue1</targetReference>
            </connector>
            <label>LAWGUE</label>
        </rules>
        <rules>
            <name>Rozetta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItemLoop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ロゼッタ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMarginRevenue2</targetReference>
            </connector>
            <label>ロゼッタ</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateRevenueLoop</name>
        <label>売上レコード作成ループ</label>
        <locationX>660</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>CreateRevenue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>CreateComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityLineItemLoop.PeriodMonths__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityLineItemLoop</targetReference>
            </connector>
            <label>作成完了</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddMonthServiceDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!ServiceDate},1)</expression>
    </formulas>
    <formulas>
        <name>MarginRevenueSellingPriceDistount</name>
        <dataType>Number</dataType>
        <expression>({!OpportunityLineItemLoop.Opportunity.AllianceProductsMarginRate__c} / 100 - 1) *  {!OpportunityLineItemLoop.SellingPriceDistount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MarginRevenueUnitPrice</name>
        <dataType>Number</dataType>
        <expression>({!OpportunityLineItemLoop.Opportunity.AllianceProductsMarginRate__c} / 100 - 1) *  {!OpportunityLineItemLoop.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>売上作成_変数生成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>売上作成_変数生成サブフロー</label>
    <loops>
        <name>OpportunityLineItemLoop</name>
        <label>商談商品毎にループ</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopCountInit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetRecordNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDeleteRevenue</name>
        <label>削除売上取得</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetDeleteRevenueCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>商談取得</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunityLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityLineItems</name>
        <label>商談商品取得</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeleteRevenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeleteRevenueCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>DeleteRevenueNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MarginRevenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Revenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>RevenueCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>RevenueNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
