force-app/main/default/flows/CreateUpdateOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddUpdateRecordTypeOpportunityLineItem</name>
        <label>更新商談商品追加</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItemLoop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateOpportunityLineItemRecordNumber</name>
        <label>更新商談商品レコード数設定</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunityLineItemCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateOpportunityLineItemRecordNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRecordTypeOpportunity</name>
        <label>更新商談作成</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.OpportunityRepPerson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityRepPerson__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RepresentProductsFamily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RepresentProductsFamily__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.LeadSourceDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSourceDetail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialKahi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialKahi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialGrantDateAndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialGrantDateAndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.TrialEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TrialEndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateSourceOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00_更新商談</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostingEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IntroductionOtherCompanyService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IntroductionOtherCompanyService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.SlackURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SlackURL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UserEmailAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserEmailAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CollectionMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CollectionMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InvoiceInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.BillingCollectionSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCollectionSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NegotiationPaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.IrregularDetailPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IrregularDetailPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.DocumentConfirmationUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DocumentConfirmationUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.AutoUpdatable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AutoUpdatable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NextUpdateTimeException__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NextUpdateTimeException__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.PaymentSiteException__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentSiteException__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationExpectedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationExpectedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationNotificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationNotificationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationSupportedStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationSupportedStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationPhase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationPhase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CancellationCauseKubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationCauseKubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ContractAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdateContactAddressEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdateContactAddressEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.UpdaterName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UpdaterName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122w000002Mx4CAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ExemptionTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.ExemptionTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ExceptionBillPosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.ExceptionBillPosting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.SpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SpecialInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NoticeEditExists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NoticeEditExists__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.GeneratedSpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GeneratedSpecialInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.NegotiationPaymentSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract.PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunity.ManualCreatingFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ManualCreatingFlag__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateUpdateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRecordTypeOpportunityLineItem</name>
        <label>更新商談商品作成</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.ProductsNameModifying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateRecordTypeOpportunityLineItemServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.PeriodMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.PeriodMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecordTypeOpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityLineItemLoop2.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateRecordTypeOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckUpdateOpportunityLineItemRecordNumber</name>
        <label>更新商談商品有無確認</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasUpdateOpportunityLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertUpdateRecordTypeOpportunityLineItem</targetReference>
            </connector>
            <label>更新商談商品あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BliingContactAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.MailingState} + {!$Record.BillingRepPerson__r.MailingCity} + {!$Record.BillingRepPerson__r.MailingStreet}</expression>
    </formulas>
    <formulas>
        <name>BliingContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.LastName} +&quot; &quot;+ {!$Record.BillingRepPerson__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>CancellFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF (TEXT({!$Record.StageName}) == &apos;受注&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>UpdateOpportunityName</name>
        <dataType>String</dataType>
        <expression>&apos;【更新】&apos;+{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>UpdateRecordTypeOpportunityLineItemServiceDate</name>
        <dataType>Date</dataType>
        <expression>{!OpportunityLineItemLoop2.PostingEndDate__c}+1</expression>
    </formulas>
    <formulas>
        <name>UpdateSourceOpportunity</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.UpdateSourceOpportunity__c}), {!$Record.Id}, {!$Record.UpdateSourceOpportunity__r.Id})</expression>
    </formulas>
    <interviewLabel>更新商談作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>更新商談作成</label>
    <loops>
        <name>OpportunityLineItemLoop2</name>
        <label>商談商品ループ</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>GetOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetUpdateRecordTypeOpportunityLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetUpdateOpportunityLineItemRecordNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateUpdateOpportunity</name>
        <label>更新商談作成</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>OpportunityLineItemLoop2</targetReference>
        </connector>
        <inputReference>UpdateRecordTypeOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertUpdateRecordTypeOpportunityLineItem</name>
        <label>更新商談商品作成</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>UpdateRecordTypeOpportunityLineItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunityLineItems</name>
        <label>商談商品取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetUpdateRecordTypeOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityLineItems</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UpdateOpportunityCreatingTargetFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BliingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingContact__c</objectType>
    </variables>
    <variables>
        <name>ContractManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractManagement__c</objectType>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>DeleteBilingContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingContact__c</objectType>
    </variables>
    <variables>
        <name>InsertContractManagementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractManagement__c</objectType>
    </variables>
    <variables>
        <name>RecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>UpdateRecordTypeOpportunityLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
