force-app/main/default/flows/CreateInvoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>SetInvoiceInformation</name>
        <label>請求情報を割り当て</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InvoiceInformationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceInformationRecord</name>
        <label>請求書情報作成</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>InvoiceInformation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetInvoiceInformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceInformationToOpportunity</name>
        <label>商談に請求書情報を紐付け</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetUpdateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateOpportunity</name>
        <label>商談割り当て</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>請求書情報作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求書情報作成</label>
    <loops>
        <name>Loop1</name>
        <label>ループ１</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>SelectedOpportunity.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetInvoiceInformationRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateInvoiceInformation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>ループ２</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>InvoiceInformationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetInvoiceInformationToOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateInvoiceInformation</name>
        <label>請求書情報作成</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
        <inputReference>InvoiceInformationCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>UpdateOpportunity</name>
        <label>商談更新</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <inputReference>UpdateOpportunityCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>商談取得</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectOpportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SelectOpportunity</name>
        <label>商談選択画面</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>キャンセル</backButtonLabel>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <fields>
            <name>SelectedOpportunity</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>商談選択</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2ca1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;商談名&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-b41a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;フェーズ&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;IsWon&quot;,&quot;guid&quot;:&quot;column-b75c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;成立フラグ&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;SyncedQuoteId&quot;,&quot;guid&quot;:&quot;column-2b71&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;見積 ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>作成</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>InvoiceInformationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>InvoiceInformations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceInformation__c</objectType>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateOpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
