force-app/main/default/flows/InsertInvoiceInformationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddUpdateRevenueCollection</name>
        <label>更新売上リストに追加</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UpdateRevenueRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RevenueLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RevenueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetUpdateRevenueCollectionNumber</name>
        <label>更新売上レコード数取得</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>UpdateRevenueCollectionNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdateRevenueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRevenueNumberCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRevenue</name>
        <label>売上更新</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RevenueLoop.InvoiceInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateRevenueCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UpdateRevenueNumberCheck</name>
        <label>更新売上数チェック</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>OverOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateRevenueCollectionNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRevenue</targetReference>
            </connector>
            <label>１件以上</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>請求書情報作成時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求書情報作成時の処理</label>
    <loops>
        <name>RevenueLoop</name>
        <label>売上ループ</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>GetRevenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetUpdateRevenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetUpdateRevenueCollectionNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>商談取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRevenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRevenue</name>
        <label>売上取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RevenueLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRevenue</name>
        <label>売上更新</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>UpdateRevenueRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <object>InvoiceInformation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>UpdateRevenueCollectionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateRevenueRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
</Flow>
