force-app/main/default/flows/InsertContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>UniqueName</name>
        <label>商談種別</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>X4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>BLL1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertContract</targetReference>
            </connector>
            <label>BLL</label>
        </rules>
        <rules>
            <name>BLC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1</targetReference>
            </connector>
            <label>BLC</label>
        </rules>
        <rules>
            <name>R3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ロゼッタ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2</targetReference>
            </connector>
            <label>ロゼッタ</label>
        </rules>
        <rules>
            <name>LAWGUE4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAWGUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3</targetReference>
            </connector>
            <label>LAWGUE</label>
        </rules>
        <rules>
            <name>PPP5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>広告</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5</targetReference>
            </connector>
            <label>広告</label>
        </rules>
        <rules>
            <name>Seminar6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>セミナー</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6</targetReference>
            </connector>
            <label>セミナー</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName3</name>
        <label>契約が紐づいているか</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>getContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName33</name>
        <label>既存契約に商談と同じタイプがあるか</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>contractAll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contractAll.OppType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniqueName55</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BillingBliingContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.LastName} +&quot; &quot;+ {!$Record.BillingRepPerson__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>BliingContactAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingRepPerson__r.MailingState} + {!$Record.BillingRepPerson__r.MailingCity} + {!$Record.BillingRepPerson__r.MailingStreet}</expression>
    </formulas>
    <interviewLabel>【商談】受注承認申請時、契約レコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】受注承認申請時、契約レコード作成</label>
    <loops>
        <name>contractAll</name>
        <label>すべての契約をチェック</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <collectionReference>getContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UniqueName33</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateBliingContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBliingContact</name>
        <label>請求先担当者作成</label>
        <locationX>1106</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountName__c</field>
            <value>
                <elementReference>$Record.BillingRepPerson__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>BliingContactAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailAddless__c</field>
            <value>
                <elementReference>$Record.BillingRepPerson__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity__c</field>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState__c</field>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet__c</field>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>BillingBliingContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostCode__c</field>
            <value>
                <elementReference>$Record.BillingRepPerson__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>BillingContact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertContract</name>
        <label>契約レコード作成</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>BLL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X1</name>
        <label>契約レコード作成</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>BLC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X2</name>
        <label>契約レコード作成</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>ロゼッタ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X3</name>
        <label>契約レコード作成</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>LAWGUE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X4</name>
        <label>契約レコード作成</label>
        <locationX>1898</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>その他</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X5</name>
        <label>契約レコード作成</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>広告</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X6</name>
        <label>契約レコード作成</label>
        <locationX>1634</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>UniqueName5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <stringValue>セミナー</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimarilyBliingContact__c</field>
            <value>
                <elementReference>CreateBliingContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContract</name>
        <label>取引先配下の契約取得</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contractAll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountID18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UniqueName5</name>
        <label>商談に紐づけ</label>
        <locationX>1106</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>InsertContract</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UniqueName55</name>
        <label>商談と既存契約を紐づけ</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>contractAll.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X9</name>
        <label>契約の種別を更新</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OppType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OppType__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UniqueName3</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationApproved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0122w000002Mx4AAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
