force-app/main/default/flows/OrgA_SyncOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>orgASyncOpportunity</name>
        <label>orgASyncOpportunity</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>OrgASyncOpportunityV2.orgASyncOpportunity</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrgASyncOpportunityV2.orgASyncOpportunity</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addInput</name>
        <label>addInput</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>body.inputs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>orgASyncOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccount</name>
        <label>setAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>input.Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.OrgA_AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input.Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOpportunity</name>
        <label>setOpportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>input.Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input.Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.OrgA_OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input.Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input.Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input.Opportunity.BillingCollectionSitex5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.BillingCollectionSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input.Opportunity.CollectionMethodx5fx5fc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.CollectionMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addInput</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>商談同期 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>組織Aの商談同期</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>body</name>
        <apexClass>ExternalService__OrgASyncOpportunityV2_orgASyncOpportunity_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input</name>
        <apexClass>ExternalService__OrgASyncOpportunityV2_input</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
