force-app/main/default/flows/ProductTermsAutoUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddLineFeed</name>
        <label>改行コード追加</label>
        <locationX>270</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>SpecialInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementLoopCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0001</name>
        <label>商品規約管理番号0001割り当て</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0002</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0002</name>
        <label>商品規約管理番号0002割り当て</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0002</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0003</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0003</name>
        <label>商品規約管理番号0003割り当て</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0003</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0004</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0004</name>
        <label>商品規約管理番号0004割り当て</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0004</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0005</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0005</name>
        <label>商品規約管理番号0005割り当て</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0005</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0006</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0006</name>
        <label>商品規約管理番号0006割り当て</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0006</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0007</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0007</name>
        <label>商品規約管理番号0007割り当て</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0007</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductTerm0008</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0008</name>
        <label>商品規約管理番号0008割り当て</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0008</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProductTerm0009</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProductTerm0009</name>
        <label>商品規約管理番号0009割り当て</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>ProductTermCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0009</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductTermLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSpecialInformation</name>
        <label>特記事項文追加</label>
        <locationX>534</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>SpecialInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProductTerms.TermsStatement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementLoopCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSpecialInformationToOpportunity</name>
        <label>商談に特記事項を追加</label>
        <locationX>182</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>getOpportunity.SpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecialInformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunity.GeneratedSpecialInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecialInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementLoopCount</name>
        <label>ループカウントインクリメント</label>
        <locationX>402</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SpecialInformationNewFlagIsTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SpecialInformationNewFlagIsTrue</name>
        <label>特記事項新規生成フラグTrue</label>
        <locationX>402</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>getOpportunity.SpecialInformationNewFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductTermLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckLoopCount</name>
        <label>ループ回数チェック</label>
        <locationX>402</locationX>
        <locationY>3074</locationY>
        <defaultConnector>
            <targetReference>AddSpecialInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Over1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddLineFeed</targetReference>
            </connector>
            <label>1以上</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0001</name>
        <label>商品規約管理番号0001判定</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.AutoUpdatable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0001</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0002</name>
        <label>商品規約管理番号0002判定</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0003</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0002</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLライト</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.AutoUpdatable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0002</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0003</name>
        <label>商品規約管理番号0003判定</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0004</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0003</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLスタンダード</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.AutoUpdatable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0003</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0004</name>
        <label>商品規約管理番号0004判定</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0004</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLライト</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.AutoUpdatable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0004</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0005</name>
        <label>商品規約管理番号0005判定</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0006</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLスタンダード</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.AutoUpdatable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0005</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0006</name>
        <label>商品規約管理番号0006判定</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0006</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLライト</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0006</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0007</name>
        <label>商品規約管理番号0007判定</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>CheckProductTerm0008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0007</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLスタンダード</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0007</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductTerm0008</name>
        <label>商品規約管理番号0008判定</label>
        <locationX>182</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>AddProductTerm0009</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsProductTerm0008</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLLエンタープライズ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddProductTerm0008</targetReference>
            </connector>
            <label>条件一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductType</name>
        <label>商品種別チェック</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ProductTypeError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasProductType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ProductType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckProductTerm0001</targetReference>
            </connector>
            <label>商品種別あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>商品規約自動設定フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>商品規約自動設定フロー</label>
    <loops>
        <name>ProductTermLoop</name>
        <label>商品規約ループ</label>
        <locationX>182</locationX>
        <locationY>2858</locationY>
        <collectionReference>ProductTermCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProductTerms</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddSpecialInformationToOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOpportunity</name>
        <label>商談取得</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProductType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductTerms</name>
        <label>商品規約取得</label>
        <locationX>402</locationX>
        <locationY>2966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLoopCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductTermLoop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductTerms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>商談を更新</label>
        <locationX>182</locationX>
        <locationY>3782</locationY>
        <connector>
            <targetReference>CompletePage</targetReference>
        </connector>
        <inputReference>getOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>CompletePage</name>
        <label>完了ページ</label>
        <locationX>182</locationX>
        <locationY>3890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReloadPage</name>
            <fieldText>&lt;p&gt;生成された特記事項の文言を確認してください。&lt;/p&gt;&lt;p&gt;変わらない場合はページを更新してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductTypeError</name>
        <label>商品種別エラー</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductTypeErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;商品種別を選択してください&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LineFeed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!SpecialInformation}
{!GetProductTerms.TermsStatement__c}</text>
    </textTemplates>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ProductTermCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
