force-app/main/default/flows/SeikyuSync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SyncRecords_Invoice</name>
        <label>SyncRecords_Invoice</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>B54_SyncRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InvoiceError</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B54_SyncRecords</nameSegment>
        <outputParameters>
            <assignToReference>error</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SyncRecords_Uriage</name>
        <label>SyncRecords_Uriage</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <actionName>B54_SyncRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UriageError</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Revenue__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>getUriage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B54_SyncRecords</nameSegment>
        <outputParameters>
            <assignToReference>error</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>InvoiceError</name>
        <label>InvoiceError</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>getUriage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SUCCESS</defaultConnectorLabel>
        <rules>
            <name>CheckInvoiceError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenERROR</targetReference>
            </connector>
            <label>ERROR</label>
        </rules>
    </decisions>
    <decisions>
        <name>UriageError</name>
        <label>UriageError</label>
        <locationX>308</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>MessageSUCCESS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SUCCESS</defaultConnectorLabel>
        <rules>
            <name>CheckUriageERROR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenERROR</targetReference>
            </connector>
            <label>ERROR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【請求】連携処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【請求】連携処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getUriage</name>
        <label>getUriage</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SyncRecords_Uriage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceInformation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>MessageSUCCESS</name>
        <label>SUCCESS</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_MessageERROR</name>
            <fieldText>&lt;p&gt;完了しました&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenERROR</name>
        <label>ERROR</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageERROR</name>
            <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SyncOrg</name>
        <label>組織連携</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>いいえ</backButtonLabel>
        <connector>
            <targetReference>SyncRecords_Invoice</targetReference>
        </connector>
        <fields>
            <name>SyncOrgCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;連携処理を行いますか？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>はい</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SyncOrg</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
