force-app/main/default/flows/SetVirtualAccountToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Under1000Mail</name>
        <label>1000件以下メール</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>takahakke@bengo4.com,a.abe@bengo4.com,mo.sato@bengo4.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>「組織Cのバーチャル口座残数が1000件以下になりました」</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>組織Cのバーチャル口座を追加発注してください。入手できたら情シスに連携してください。</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>under200Mail</name>
        <label>800件以下メール をコピー</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>takahakke@bengo4.com,a.abe@bengo4.com,mo.sato@bengo4.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>「組織Cのバーチャル口座残数が200件以下になりました」</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>組織Cのバーチャル口座を追加発注してください。入手できたら情シスに連携してください。</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>under500Mail</name>
        <label>500件以下メール をコピー</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>takahakke@bengo4.com,a.abe@bengo4.com,mo.sato@bengo4.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>「組織Cのバーチャル口座残数が500件以下になりました」</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>組織Cのバーチャル口座を追加発注してください。入手できたら情シスに連携してください。</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>GetVirtualAccountRecordNumber</name>
        <label>バーチャル口座レコード数取得</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>RecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetVirtualAccount2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVirtualAccountRecordNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVirtualAccount</name>
        <label>バーチャル口座を更新</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>GetVirtualAccount.Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetVirtualAccount.GrantedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetVirtualAccount.TargetAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVirtualAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVirtualAccountToAccount</name>
        <label>取引先にバーチャル口座を紐付け</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>GetAccount.VirtualAccountBank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVirtualAccount.VirtualAccountBank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.VirtualAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetVirtualAccount.VirtualAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckVirtualAccount</name>
        <label>バーチャル口座チェック</label>
        <locationX>1073</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NotVirtualAccountInfo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.VirtualAccountBank__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.VirtualAccountNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetVirtualAccount</targetReference>
            </connector>
            <label>バーチャル口座情報なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVirtualAccountExistence</name>
        <label>CheckVirtualAccountExistence</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>CheckVirtualAccountExistenceTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVirtualAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>CheckVirtualAccountExistenceTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVirtualAccountRecordNumber</name>
        <label>バーチャル口座レコード数チェック</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsRecordNumber1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Under1000Mail</targetReference>
            </connector>
            <label>件数が1000件</label>
        </rules>
        <rules>
            <name>IsRecordNumber500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>499.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>under500Mail</targetReference>
            </connector>
            <label>件数が500件</label>
        </rules>
        <rules>
            <name>IsRecordNumber200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>199.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>under200Mail</targetReference>
            </connector>
            <label>件数が200件</label>
        </rules>
    </decisions>
    <description>開始条件の見直し。（フェーズ06以上、レコードタイプ新規で動作）</description>
    <environments>Default</environments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SetVirtualAccountToAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>取引先にバーチャル口座を設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>取引先取得</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetVirtualAccountToAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVirtualAccount</name>
        <label>バーチャル口座を取得</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckVirtualAccountExistence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GrantedDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VirtualBankAccount__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVirtualAccount2</name>
        <label>バーチャル口座取得</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVirtualAccountRecordNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Used__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GrantedDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VirtualBankAccount__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>取引先更新</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>SetVirtualAccount</targetReference>
        </connector>
        <inputReference>GetAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVirtualAccount</name>
        <label>バーチャル口座更新</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>GetVirtualAccount2</targetReference>
        </connector>
        <inputReference>GetVirtualAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckVirtualAccount</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.8</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Mx4AAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
