force-app/main/default/flows/SyncOLIAndQLIUpdateOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>UpdateOpportunityLineItem</name>
        <label>商談商品更新</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.ProductsNameModifying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.TotalAmountListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalAmountListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.PeriodMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PeriodMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.DiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.SellingPriceDistount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SellingPriceDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.DisplayTotalAmountDistount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DisplayTotalAmountDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.OutOfListPriceAfterUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OutOfListPriceAfterUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getOpportunityLineItem.ContractEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExecUpdateOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>商談商品_見積品目同期_商談商品更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>商談商品_見積品目同期_商談商品更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpportunityLineItem</name>
        <label>商談商品取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityLineItem.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ExecUpdateOpportunityLineItem</name>
        <label>商談商品更新実行</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>getOpportunityLineItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunityLineItem</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 11 OR 12) AND 10</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductsNameModifying__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UnitPrice</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TotalAmountListPrice__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PeriodMonths__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DiscountAmount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SellingPriceDistount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NewFlag__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OutOfListPriceAfterUpdate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
