force-app/main/default/flows/SyncOLIAndQLIUpdateQLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>CheckNewFlagFalse</name>
        <label>新規フラグFALSE</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.NewFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExecUpdateQuoteLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateQuoteLineItem</name>
        <label>見積品目更新</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.ProductsNameModifying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductsNameModifying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.TotalAmountListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalAmountListPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.PeriodMonths__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PeriodMonths__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.DiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.SellingPriceDistount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SellingPriceDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.DisplayTotalAmountDistount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DisplayTotalAmountDistount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExecUpdateQuoteLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>判断</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuoteLineItem.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getQuoteLineItem.NewFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuoteLineItem</targetReference>
            </connector>
            <label>存在する</label>
        </rules>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuoteLineItem.OpportunityLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getQuoteLineItem.NewFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckNewFlagFalse</targetReference>
            </connector>
            <label>新規フラグTRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>商談商品_見積品目同期_見積品目更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>商談商品_見積品目同期_見積品目更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getQuoteLineItem</name>
        <label>見積品目名取得</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ExecUpdateQuoteLineItem</name>
        <label>見積品目更新実行</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputReference>getQuoteLineItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getQuoteLineItem</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductsNameModifying__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UnitPrice</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TotalAmountListPrice__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PeriodMonths__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DiscountAmount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SellingPriceDistount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
