force-app/main/default/flows/UpdateContractVirtualAccountInfo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddUpdateContractCollection</name>
        <label>更新契約レコード追加</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UpdateContractCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContractLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateContractRecordNumber</name>
        <label>更新契約レコード数設定</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>UpdateContractRecordNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdateContractCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateContractRecordNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateVirtualAccountInfo</name>
        <label>バーチャル口座情報更新</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContractLoop.VirtualAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VirtualAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLoop.VirtualAccountBankBranchOfficeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VirtualAccountBank__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateContractCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckUpdateContractRecordNumber</name>
        <label>更新契約レコード数チェック</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>OverOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateContractRecordNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContract</targetReference>
            </connector>
            <label>1件以上</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContractVirtualAccountInfoCheck</name>
        <label>契約レコードのバーチャル口座情報登録チェック</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ContractLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NotVirtualAccountInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLoop.VirtualAccountBankBranchOfficeName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractLoop.VirtualAccountNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVirtualAccountInfo</targetReference>
            </connector>
            <label>バーチャル口座情報未登録</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>契約レコードのバーチャル口座情報更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>契約レコードのバーチャル口座情報更新</label>
    <loops>
        <name>ContractLoop</name>
        <label>契約レコードループ</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>GetContract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContractVirtualAccountInfoCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetUpdateContractRecordNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContract</name>
        <label>契約レコード取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContract</name>
        <label>契約レコード更新</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>UpdateContractCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 AND 4)</filterLogic>
        <filters>
            <field>VirtualAccountBank__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VirtualAccountNumber__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VirtualAccountBank__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VirtualAccountNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateContractCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>UpdateContractRecordNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
