force-app/main/default/flows/UpdateNoticeEditExists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>商品種別を変更し、デフォルト文に上書きされた時、特記事項編集有のフラグがTRUEになっているかを判定。</description>
        <name>CheckNoticeEditExistsFlag</name>
        <label>特記事項編集有フラグ判定</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>特記事項編集有がFALSE</defaultConnectorLabel>
        <rules>
            <name>NoticeEditExistsFlagIsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NoticeEditExists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeNoticeEditExistsFlagToFlase</targetReference>
            </connector>
            <label>特記事項編集有がTRUE</label>
        </rules>
    </decisions>
    <decisions>
        <description>特記事項がデフォルト文と異なるかを判定</description>
        <name>CheckSpecialNote</name>
        <label>特記事項変更判定</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>CheckNoticeEditExistsFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>特記事項変更無し</defaultConnectorLabel>
        <rules>
            <name>SpecialNoticeIsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SpecialInformation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GeneratedSpecialInformation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeNoticeEditExistsFlagToTrue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>特記事項変更あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>商談_特記事項変更有り更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>商談_特記事項変更有り更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ChangeNoticeEditExistsFlagToFlase</name>
        <label>特記事項編集有をFALSEに変更する</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>NoticeEditExists__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ChangeNoticeEditExistsFlagToTrue</name>
        <label>特記事項編集有をTRUEに変更する</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>NoticeEditExists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckSpecialNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SpecialInformation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
</Flow>
